h1{
  display: block;
  margin:40px auto;
  width: 20%;
  padding: 20px;
  border-radius: 10rem;
  text-align: center;
  font-family: 'Dangrek', cursive;
  font-size: 40px;
  color: brown;
  background-color: burlywood;
}
h4{
  display:block;
  text-align: center;
  width: 750px;
  margin:40px auto;
  font-size: 28px;
  font-family: 'Dangrek', cursive;
  color: green;
}
div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: burlywood;
  padding: 40px;
}
img{
  height: 300px;
  width: 300px;
  justify-content: space-around;
}
button{
  display:block;
  text-align: center;
  margin:40px auto;
  height: 40px;
  width: 200px;
  color: brown;
  background-color: burlywood;
  border-color: green;
  border-radius: 20rem;
  font-family: 'Dangrek', cursive;
  font-size: 20px;
  font-weight: bold;
}
ul{
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  font-family: 'Dangrek', cursive;
  font-size: 18px;
  line-height: 2rem;
  color:green;
  font-weight: medium;
  padding-bottom: 2rem;
}
footer{
  display: block;
  margin: 40px auto;
  text-align: center;
  font-family: 'Dangrek', cursive;
  color: brown;

}
p{
  font-family: 'Dangrek', cursive;
  color: black;
  font-size: 40px;
}

.barChart1{
  background-color: lightgray;
}